<header class="layer__header">
    {% if block.sectionKicker %}
        <div class="kicker -primary">{{ block.sectionKicker }}</div>
    {% endif %}
    {% if block.sectionHeading %}
        <h2 class="layer__heading">{{ block.sectionHeading }}</h2>
    {% endif %}
    {% if block.sectionSubheading %}
        <h3 class="layer__subheading">{{ block.sectionSubheading }}</h3>
    {% endif %}
</header>
