<div class="linkGroups">
    <div class="linkGroups__callout">
        <picture>
            <source
                type="image/webp"
                data-srcset="https://picsum.photos/256.webp 1024w, https://picsum.photos/360.webp 1440w, https://picsum.photos/480.webp 1920w"
                data-sizes="auto"
            />

            <img
                src="data:image/svg+xml;utf8,<svg xmlns=&quot;http://www.w3.org/2000/svg&quot; height=&quot;480&quot; width=&quot;480&quot;></svg>"
                alt="Placeholder Image"
                class="lazyload"
                data-srcset="https://picsum.photos/256 1024w, https://picsum.photos/360 1440w, https://picsum.photos/480 1920w"
                data-sizes="auto"
            />
        </picture>
    </div>
    <div class="linkGroups__group">
        <div class="linkGroups__heading">Maine</div>
        <ul class="linkGroups__list">
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Seacoast</a></li>
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Parks</a></li>
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Activities</a></li>
        </ul>
    </div>
    <div class="linkGroups__group">
        <div class="linkGroups__heading">Massachusetts</div>
        <ul class="linkGroups__list">
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Boston</a></li>
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Cambridge</a></li>
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Lowell</a></li>
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Salem</a></li>
        </ul>
    </div>
    <div class="linkGroups__group">
        <div class="linkGroups__heading">New Hampshire</div>
        <ul class="linkGroups__list">
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Towns</a></li>
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Parks</a></li>
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Activities</a></li>
        </ul>
    </div>
</div>
