<div class="linkGroups">
    <div class="linkGroups__group">
        <div class="linkGroups__heading">Maine</div>
        <ul class="linkGroups__list">
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Seacoast</a></li>
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Parks</a></li>
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Activities</a></li>
        </ul>
    </div>
    <div class="linkGroups__group">
        <div class="linkGroups__heading">Massachusetts</div>
        <ul class="linkGroups__list">
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Boston</a></li>
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Cambridge</a></li>
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Lowell</a></li>
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Salem</a></li>
        </ul>
    </div>
    <div class="linkGroups__group">
        <div class="linkGroups__heading">New Hampshire</div>
        <ul class="linkGroups__list">
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Towns</a></li>
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Parks</a></li>
            <li class="linkGroups__item"><a class="linkGroups__link" href="#">Activities</a></li>
        </ul>
    </div>
</div>
