<p>
    Below is some text that shouldn't be visible or take up any space.
</p>
<p class="sr-only">
    This is the text that shouldn't be visible or take up any space.
</p>
<p>
    Above is some text that shouldn't be visible or take up any space.
</p>
