<div class="{{ class }} avatar">
    <div class="avatar__container">
        <img class='avatar__photo' src="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='72' width='72' viewBox='0 0 1 1'><rect width='1' height='1' fill='%230001'/></svg>" alt="Jane Doe" />
        <div class="avatar__name">
            Jane Doe
        </div>
        <div class="avatar__title">
            Executive Vice President of Operations
        </div>
    </div>
</div>
