<div class="avatar -horizontal {{ class }}">
    <img class="avatar__photo" src="/media/dossier-1.jpg" alt="Jane Doe" />
    <div class="avatar__info">
        <h2 class="avatar__name">
            Jane Doe
        </h2>
        <div class="avatar__title">
            Executive Vice President of Operations
        </div>
    </div>
</div>
