.DS_Store
/.env
/.idea
/config/license.key*
/node_modules
/storage
/tests/_craft/config/project
/tests/_craft/storage
/tests/config/project
/vendor
/web/assets
/web/cpresources
/web/css
/web/fonts
/web/js
/web/media
mix-manifest.json

# Remove these Ignores
/webpack.mix.js
/resources
/composer.lock
/package-lock.json
/fractal.config.js
/resources/js/main.js
/web/css/main.css
/web/js/main.js
/web/js/vendor.js
/web/mix-manifest.json
