/craft/app
/craft/config/redactor
/craft/config/routes.php
/craft/config/web.config
/craft/plugins
/craft/storage
/node_modules
/public/css
/public/js
/public/writable
/vendor
composer.lock
craft_latest.zip
mix-manifest.json
