
<div class="container">
    <p>
        This is using the deprecated .container utility class.
    </p>
    <p>Lorem consectetur porro saepe alias quo. Iure fugiat illo magnam velit sapiente esse? Dicta adipisci illum nisi perspiciatis eligendi! Assumenda sequi aliquam dignissimos dolore nesciunt animi. Laboriosam ad ad nam.</p>
</div>

<div class="grid">
    <div class="grid__container">
        <p>
            This is using the preferred alternative, using .grid__container within a .grid element. You can use the grid mixin on your own elements if you'd rather not use a .grid class.
        </p>
        <p>Lorem consectetur porro saepe alias quo. Iure fugiat illo magnam velit sapiente esse? Dicta adipisci illum nisi perspiciatis eligendi! Assumenda sequi aliquam dignissimos dolore nesciunt animi. Laboriosam ad ad nam.</p>
    </div>
</div>
