<div class="checkbox">
    <input class="checkbox__input" type="radio" name="radio1" id="radio1">
    <div class="checkbox__checkbox">
        <svg class="checkbox__icon" viewBox="0 0 12 12" stroke-width="2" stroke="currentColor" fill="none">
            <path d="M3 6l2 2l4 -4" />
        </svg>
    </div>
    <label class="checkbox__label" for="radio1">
        Radio
    </label>
</div>

<div class="checkbox">
    <input class="checkbox__input" type="radio" name="radio1" id="radio2" checked>
    <div class="checkbox__checkbox">
        <svg class="checkbox__icon" viewBox="0 0 12 12" stroke-width="2" stroke="currentColor" fill="none">
            <path d="M3 6l2 2l4 -4" />
        </svg>
    </div>
    <label class="checkbox__label" for="radio2">
        Radio
    </label>
</div>

<div class="checkbox">
    <input class="checkbox__input" type="radio" id="radio3" disabled>
    <div class="checkbox__checkbox">
        <svg class="checkbox__icon" viewBox="0 0 12 12" stroke-width="2" stroke="currentColor" fill="none">
            <path d="M3 6l2 2l4 -4" />
        </svg>
    </div>
    <label class="checkbox__label" for="radio3">
        Disabled
    </label>
</div>

<div class="checkbox">
    <input class="checkbox__input" type="radio" id="radio4" disabled checked>
    <div class="checkbox__checkbox">
        <svg class="checkbox__icon" viewBox="0 0 12 12" stroke-width="2" stroke="currentColor" fill="none">
            <path d="M3 6l2 2l4 -4" />
        </svg>
    </div>
    <label class="checkbox__label" for="radio4">
        Disabled
    </label>
</div>

<div class="checkbox -secondary">
    <input class="checkbox__input" type="radio" id="radio5">
    <div class="checkbox__checkbox">
        <svg class="checkbox__icon" viewBox="0 0 12 12" stroke-width="2" stroke="currentColor" fill="none">
            <path d="M3 6l2 2l4 -4" />
        </svg>
    </div>
    <label class="checkbox__label" for="radio5">
        Secondary
    </label>
</div>

<div class="checkbox -secondary">
    <input class="checkbox__input" type="radio" id="radio6" checked>
    <div class="checkbox__checkbox">
        <svg class="checkbox__icon" viewBox="0 0 12 12" stroke-width="2" stroke="currentColor" fill="none">
            <path d="M3 6l2 2l4 -4" />
        </svg>
    </div>
    <label class="checkbox__label" for="radio6">
        Secondary
    </label>
</div>

<div class="checkbox">
    <input class="checkbox__input" type="radio" name="radio1" id="radio7">
    <div class="checkbox__checkbox">
        <svg class="checkbox__icon" viewBox="0 0 12 12" stroke-width="2" stroke="currentColor" fill="none">
            <path d="M3 6l2 2l4 -4" />
        </svg>
    </div>
    <label class="checkbox__label" name="radio1" for="radio7">
        Radio with a long descript that wraps. Consectetur voluptatibus suscipit accusantium veniam maiores ab reiciendis Consequatur deserunt fugit harum asperiores repellat atque modi laborum Animi odio odio vero qui ab ducimus Hic neque cumque ullam quae architecto.
    </label>
</div>
