<nav class="{{ class }} menu">
    <ul class="menu__list">
        <li class="menu__item">
            <a class="menu__link" href=""><span>Sit a</span></a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href=""><span>Amet voluptas?</span></a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href=""><span>Sit exercitationem?</span></a>
        </li>
        <li class="menu__item">
            <a class="menu__link" href=""><span>Dolor magni</span></a>
        </li>
    </ul>
</nav>
