<nav class="{{ class }} primaryNav">
    <ul class="primaryNav__list">
        <li class="primaryNav__item">
            <bp-dropdown label-class="primaryNav__link" label="Maine" id="a11y-maine">
                <bp-directional>
                    <div class="linkGroups">
                        <div class="linkGroups__group">
                            <div class="linkGroups__heading">Seacoast</div>
                            <ul class="linkGroups__list">
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Bar Harbor</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Camden</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Castine</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Damariscotta</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Kennebunkport</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Old Orchard Beach</a></li>
                            </ul>
                        </div>
                        <div class="linkGroups__group">
                            <div class="linkGroups__heading">Parks</div>
                            <ul class="linkGroups__list">
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Acadia</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Baxter</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Camden Hills</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Popham Beach</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Quoddy Head</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Reid</a></li>
                            </ul>
                        </div>
                        <div class="linkGroups__group">
                            <div class="linkGroups__heading">Activities</div>
                            <ul class="linkGroups__list">
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Agricultural Attractions</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Arts &amp; Culture</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Camping</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Fishing</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Guide Services</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Hiking &amp; Climbing</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Hunting</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Lighthouses &amp; Sightseeing</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Shopping</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Spas, Health &amp; Wellness</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Wildlife Watching</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Winter Activities</a></li>
                            </ul>
                        </div>
                    </div>
                </bp-directional>
            </bp-dropdown>
        </li>
        <li class="primaryNav__item">
            <bp-dropdown label-class="primaryNav__link" href="" label="New Hampshire" id="a11y-new-hampshire">
                <bp-directional>
                    <div class="linkGroups">
                        <div class="linkGroups__group">
                            <div class="linkGroups__heading">Towns</div>
                            <ul class="linkGroups__list">
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Manchester</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Portsmouth</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Sunapee</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Concord</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Conway</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Keene</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Laconia</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Berlin</a></li>
                            </ul>
                        </div>
                        <div class="linkGroups__group">
                            <div class="linkGroups__heading">Parks</div>
                            <ul class="linkGroups__list">
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Bear Brook</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Franconia Notch</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Hampton Beach</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Odiorne Point</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Pawtuckaway</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">White Mountains</a></li>
                            </ul>
                        </div>
                        <div class="linkGroups__group">
                            <div class="linkGroups__heading">Activities</div>
                            <ul class="linkGroups__list">
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Boating</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Camping</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Canoeing &amp; Kayaking</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Christmas Tree Farms</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Covered Bridges</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Fishing</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Guide Services</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Hunting</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Shopping</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Skiing &amp; Riding</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Waterfalls</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">White Water Rafting</a></li>
                            </ul>
                        </div>
                    </div>
                </bp-directional>
            </bp-dropdown>
        </li>
        <li class="primaryNav__item">
            <bp-dropdown class="-rightEdge" label-class="primaryNav__link" href="" label="Massachusetts" id="a11y-massachusetts">
                <bp-directional>
                    <div class="linkGroups">
                        <div class="linkGroups__group">
                            <div class="linkGroups__heading">Cities</div>
                            <ul class="linkGroups__list">
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Boston</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Cambridge</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Lowell</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Plymouth</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Salem</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Springfield</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Worcester</a></li>
                            </ul>
                        </div>
                        <div class="linkGroups__group">
                            <div class="linkGroups__heading">Cape Cod &amp; Islands</div>
                            <ul class="linkGroups__list">
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Chatham</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Falmouth</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Hyannis</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Martha's Vineyard</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Nantucket</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Oak Bluffs</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Orleans</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Provincetown</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Sandwich</a></li>
                                <li class="linkGroups__item"><a class="linkGroups__link" href="#">Truro</a></li>
                            </ul>
                        </div>
                    </div>
                </bp-directional>
            </bp-dropdown>
        </li>
    </ul>
</nav>
