{% render "@site-header" %}

<main>
    <section class="section">
        <div class="section__container">
            <h1>Resources</h1>
        </div>
    </section>

    <section class="section -results">
        <div class="section__container">

            <div>
                {% render "@search" %}
            </div>

            <div class="cards">
                <div class="cards__card card">
                    <div class="card__container">
                        <div class="card__tag">White Paper</div>
                        <div class="card__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                        </div>
                        <h4 class="card__heading">Example Resource</h4>
                        <p class="card__content">
                            Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                        </p>
                        <div class="card__actions -attached">
                            <a href="" class="card__action button -primary">Download</a>
                        </div>
                    </div>
                </div>
                <div class="cards__card card">
                    <div class="card__container">
                        <div class="card__tag">White Paper</div>
                        <div class="card__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                        </div>
                        <h4 class="card__heading">Example Webinar</h4>
                        <p class="card__content">
                            Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                        </p>
                        <div class="card__actions -attached">
                            <a href="" class="card__action button">Learn More</a>
                            <a href="" class="card__action button -primary">Register</a>
                        </div>
                    </div>
                </div>
                <div class="cards__card card">
                    <div class="card__container">
                        <div class="card__tag">White Paper</div>
                        <div class="card__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                        </div>
                        <h4 class="card__heading">Example Resource</h4>
                        <p class="card__content">
                            Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                        </p>
                        <div class="card__actions -attached">
                            <a href="" class="card__action button -primary">Download</a>
                        </div>
                    </div>
                </div>
                <div class="cards__card card">
                    <div class="card__container">
                        <div class="card__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                        </div>
                        <h4 class="card__heading">Example Resource</h4>
                        <p class="card__content">
                            Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                        </p>
                        <div class="card__actions -attached">
                            <a href="" class="card__action button -primary">Download</a>
                        </div>
                    </div>
                </div>
                <div class="cards__card card">
                    <div class="card__container">
                        <div class="card__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                        </div>
                        <h4 class="card__heading">Example Resource</h4>
                        <p class="card__content">
                            Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                        </p>
                        <div class="card__actions -attached">
                            <a href="" class="card__action button -primary">Download</a>
                        </div>
                    </div>
                </div>
                <div class="cards__card card">
                    <div class="card__container">
                        <div class="card__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                        </div>
                        <h4 class="card__heading">Example Resource</h4>
                        <p class="card__content">
                            Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                        </p>
                        <div class="card__actions -attached">
                            <a href="" class="card__action button -primary">Download</a>
                        </div>
                    </div>
                </div>
                <div class="cards__card card">
                    <div class="card__container">
                        <div class="card__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                        </div>
                        <h4 class="card__heading">Example Resource</h4>
                        <p class="card__content">
                            Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                        </p>
                        <div class="card__actions -attached">
                            <a href="" class="card__action button -primary">Download</a>
                        </div>
                    </div>
                </div>
                <div class="cards__card card">
                    <div class="card__container">
                        <div class="card__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                        </div>
                        <h4 class="card__heading">Example Resource</h4>
                        <p class="card__content">
                            Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                        </p>
                        <div class="card__actions -attached">
                            <a href="" class="card__action button -primary">Download</a>
                        </div>
                    </div>
                </div>
                <div class="cards__card card">
                    <div class="card__container">
                        <div class="card__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                        </div>
                        <h4 class="card__heading">Example Resource</h4>
                        <p class="card__content">
                            Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                        </p>
                        <div class="card__actions -attached">
                            <a href="" class="card__action button -primary">Download</a>
                        </div>
                    </div>
                </div>
                <div class="cards__card card">
                    <div class="card__container">
                        <div class="card__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
                        </div>
                        <h4 class="card__heading">Example Resource</h4>
                        <p class="card__content">
                            Elit error saepe debitis dolor quod. Rem at ratione deserunt cupiditate totam Hic provident neque.
                        </p>
                        <div class="card__actions -attached">
                            <a href="" class="card__action button -primary">Download</a>
                        </div>
                    </div>
                </div>
            </div>

            {% render "@pagination" %}
        </div>
    </section>
</main>

{% render "@site-footer" %}
