<nav class="{{ class }} pagination">
    <ul class="pagination__list">
        <li class="pagination__item -previous">
            <a class="pagination__link" href="" aria-label="Previous">
                <svg class="link__icon" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none"><polyline points="15 6 9 12 15 18" /></svg>
            </a>
        </li>

        <li class="pagination__item"><a class="pagination__link" href="">1</a></li>
        <li class="pagination__item"><a class="pagination__link" href="">2</a></li>
        <li class="pagination__item -active"><a class="pagination__link" href="">3</a></li>
        <li class="pagination__item"><a class="pagination__link" href="">4</a></li>
        <li class="pagination__item"><a class="pagination__link" href="">5</a></li>
        <li class="pagination__item"><a class="pagination__link" href="">6</a></li>

        <li class="pagination__item -next -disabled">
            <a class="pagination__link link" href="" aria-label="Next">
                <svg class="link__icon" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none"><polyline points="9 6 15 12 9 18" /></svg>
            </a>
        </li>
    </ul>
</nav>
