# Increase the max nesting level for Craft
php_value xdebug.max_nesting_level  500
php_value max_input_vars            2000
php_value upload_max_filesize       "100M"
php_value post_max_size             "101M"

AddDefaultCharset utf-8

# Remove leaked information headers

ServerSignature Off
<IfModule mod_headers.c>
    Header unset X-Powered-By
</IfModule>

# GZIP Compression

<IfModule mod_deflate.c>
    # Force compression for mangled `Accept-Encoding` request headers
    # https://developer.yahoo.com/blogs/ydn/pushing-beyond-gzipping-25601.html

    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>

    <ifModule mod_filter.c>
        AddOutputFilterByType DEFLATE \
            "application/atom+xml" \
            "application/javascript" \
            "application/json" \
            "application/ld+json" \
            "application/manifest+json" \
            "application/rdf+xml" \
            "application/rss+xml" \
            "application/schema+json" \
            "application/vnd.geo+json" \
            "application/vnd.ms-fontobject" \
            "application/x-font-ttf" \
            "application/x-javascript" \
            "application/x-web-app-manifest+json" \
            "application/xhtml+xml" \
            "application/xml" \
            "font/eot" \
            "font/opentype" \
            "image/bmp" \
            "image/svg+xml" \
            "image/vnd.microsoft.icon" \
            "image/x-icon" \
            "text/cache-manifest" \
            "text/css" \
            "text/html" \
            "text/javascript" \
            "text/plain" \
            "text/vcard" \
            "text/vnd.rim.location.xloc" \
            "text/vtt" \
            "text/x-component" \
            "text/x-cross-domain-policy" \
            "text/xml"
    </IfModule>
    <IfModule mod_mime.c>
        AddEncoding gzip svgz
    </IfModule>
</IfModule>

# Prevent Clickjacking

<IfModule mod_headers.c>
    Header set X-Frame-Options "DENY"

    <FilesMatch "\.(appcache|atom|bbaw|bmp|crx|css|cur|eot|f4[abpv]|flv|geojson|gif|htc|ico|jpe?g|js|json(ld)?|m4[av]|manifest|map|mp4|oex|og[agv]|opus|otf|pdf|png|rdf|rss|safariextz|svgz?|swf|topojson|tt[cf]|txt|vcard|vcf|vtt|webapp|web[mp]|webmanifest|woff2?|xloc|xml|xpi)$">
        Header unset X-Frame-Options
    </FilesMatch>
</IfModule>

# HTTP Strict Transport Security

<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=16070400; includeSubDomains"
</IfModule>

# Content Security Policy.
# https://content-security-policy.com/

<IfModule mod_headers.c>
    Header set Content-Security-Policy \
        "default-src 'self' 'unsafe-inline' www.google-analytics.com ajax.googleapis.com"

    <FilesMatch "\.(appcache|atom|bbaw|bmp|crx|css|cur|eot|f4[abpv]|flv|geojson|gif|htc|ico|jpe?g|js|json(ld)?|m4[av]|manifest|map|mp4|oex|og[agv]|opus|otf|pdf|png|rdf|rss|safariextz|svgz?|swf|topojson|tt[cf]|txt|vcard|vcf|vtt|webapp|web[mp]|webmanifest|woff2?|xloc|xml|xpi)$">
        Header unset Content-Security-Policy
    </FilesMatch>
</IfModule>

# Prevent some browsers from MIME-sniffing responses

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>

# Browser caching expiration
<IfModule mod_expires.c>
	ExpiresActive on

	# Perhaps better to whitelist expires rules? Perhaps.
	ExpiresDefault                          "access plus 1 month"

	# cache.appcache needs re-requests in FF 3.6 (thanks Remy ~Introducing HTML5)
	ExpiresByType text/cache-manifest       "access plus 0 seconds"

	# Your document html
	ExpiresByType text/html                 "access plus 60 seconds"

	# Data
	ExpiresByType text/xml                  "access plus 0 seconds"
	ExpiresByType application/xml           "access plus 0 seconds"
	ExpiresByType application/json          "access plus 0 seconds"

	# Feed
	ExpiresByType application/rss+xml       "access plus 1 hour"
	ExpiresByType application/atom+xml      "access plus 1 hour"

	# Favicon (cannot be renamed)
	ExpiresByType image/x-icon              "access plus 1 week"

	# Media: images, video, audio
	ExpiresByType image/gif                 "access plus 1 month"
	ExpiresByType image/png                 "access plus 1 month"
	ExpiresByType image/jpeg                "access plus 1 month"
	ExpiresByType video/ogg                 "access plus 1 month"
	ExpiresByType audio/ogg                 "access plus 1 month"
	ExpiresByType video/mp4                 "access plus 1 month"
	ExpiresByType video/webm                "access plus 1 month"

	# HTC files  (css3pie)
	ExpiresByType text/x-component          "access plus 1 month"

	# Webfonts
	ExpiresByType application/x-font-ttf        "access plus 1 month"
	ExpiresByType font/opentype                 "access plus 1 month"
	ExpiresByType application/x-font-woff       "access plus 1 month"
	ExpiresByType image/svg+xml                 "access plus 1 month"
	ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

	# CSS and JavaScript
	ExpiresByType text/css                  "access plus 1 week"
	ExpiresByType application/javascript    "access plus 1 week"
</IfModule>

# Rewrites/Redirects

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect trailing slashes #
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Send would-be 404 requests to Craft
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
    RewriteRule (.+) index.php?p=$1 [QSA,L]
</IfModule>
