<section class="{{ class }} carousel">
    <div class="carousel__container">
        <bp-carousel class="carousel__carousel">
            <swiper-slide>
                {% render "@card--wide" %}
            </swiper-slide>
            <swiper-slide>
                {% render "@card--wide" %}
            </swiper-slide>
            <swiper-slide>
                {% render "@card--wide" %}
            </swiper-slide>
            <swiper-slide>
                {% render "@card--wide" %}
            </swiper-slide>
        </bp-carousel>
    </div>

</section>
