<div class="{{ class }} cards">
    {% render "@card" with { class: 'cards__card' } %}

    {% render "@card--two-actions" with { class: 'cards__card' } %}

    {% render "@card--actions-attached" with { class: 'cards__card' } %}

    {% render "@card--two-actions-attached" with { class: 'cards__card' } %}

    {% render "@card" with { class: 'cards__card' } %}
</div>
