<section class="{{ class }} section -callToActionSection">
    <div class="section__container container">
        <header class="section__header">
            <div class="section__eyebrow eyebrow -primary">interesting eyebrow</div>
            <h2 class="section__heading">What are you waiting for?</h2>
        </header>
        <div class="section__content">
            <p>Consectetur alias placeat doloremque placeat asperiores Reprehenderit corporis atque amet sunt ullam assumenda delectus.</p>
        </div>
        <div class="section__actions">
            <a class="section__action button -outline" href="#">Sign Up Now</a>
        </div>
    </div>
</section>
