<section class="{{ class }} section -designedSection -twoColumn">
    <div class="section__container container">
        <div class="section__content">
            <div class="section__item">
                <iframe src="https://player.vimeo.com/video/374461341" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
            <div class="section__item">
                <div class="eyebrow -secondary">within column</div>
                <h2 class="section__heading accented -secondary">Video with Text</h2>
                <p>
                    Section headings can appear either above both columns or within a column like this. Dolor eaque rerum non quis tempore? Magnam voluptatibus ut doloremque laboriosam architecto. Quo eos nesciunt aliquam architecto vitae Adipisci debitis exercitationem nostrum voluptatibus officiis dicta?
                </p>
                <p>Dolor iste quo nostrum in perspiciatis adipisci cum? Dolorem fuga itaque non ipsum facere assumenda? Eum est quasi praesentium quo libero? Soluta accusantium accusamus animi quidem corrupti Nemo laboriosam perspiciatis</p>
            </div>
        </div>
    </div>
</section>
