<section class="{{ class }} section -designedSection -twoColumn">
    <div class="section__container container">
        <header class="section__header">
            <div class="eyebrow -primary">interesting eyebrow</div>
            <h2 class="section__heading">Image with Text</h2>
        </header>
        <div class="section__content">
            <div class="section__item">
                <svg viewBox="0 0 100 50"><rect height="50" width="100" style="fill-opacity:.05" /></svg>
            </div>
            <div class="section__item">
                <h3 class="section__subheading accented -secondary">Elit nulla quas possimus exercitationem</h3>
                <p>
                    Simple two column layout that can be used with video, images, or just side by side text. Adipisicing ab a aspernatur officia voluptatibus. Sint est corrupti dolore suscipit delectus Enim sequi adipisci fuga similique cum doloribus animi.
                </p>
                <p>Dolor iste quo nostrum in perspiciatis adipisci cum? Dolorem fuga itaque non ipsum facere assumenda? Eum est quasi praesentium quo libero? Soluta accusantium accusamus animi quidem corrupti Nemo laboriosam perspiciatis</p>
            </div>
        </div>
    </div>
</section>
