<nav class="{{ class }} utilityNav">
    <ul class="utilityNav__list">
        <li class="utilityNav__item">
            <a class="utilityNav__link" href="#">privacy policy</a>
        </li>
        <li class="utilityNav__item">
            <a class="utilityNav__link" href="#">legal</a>
        </li>
    </ul>
</nav>
