{% extends "/_blocks/designedSection.twig" %}

{% block conclusion %}
    {% if block.sectionCTA %}
        <div class="section__footer">
            <div class="section__actions">
                {{ block.sectionCTA.getLink({ class: "section__action button -outline" }) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
