{% extends "/_blocks/visualSection.twig" %}

{% block conclusion %}
    {% if block.sectionCTA %}
        <div class="layer__footer">
            <div class="layer__actions">
                {{ block.sectionCTA.getLink({ class: "layer__action button -outline" }) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
