{% import "/_macros" as macros %}

{% extends "/_blocks/visualSection" %}

{% block content %}
    <div class="layer__content">
        {% for icon in block.sectionIconGrid.all() %}
            <div class="layer__item">
                {% if icon.icon|length %}
                    {{ macros.responsiveImage(icon.icon.one, { pictureClass: 'layer__icon' }) }}
                {% else %}
                    <svg viewBox="0 0 1 1" style="background: #0002"></svg>
                {% endif %}
                {{ icon.label }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
