{% import "/_macros" as macros %}

{% extends "/_blocks/designedSection.twig" %}

{% block content %}
    <div class="section__content cards">
        {% for subblock in block.children.all() %}
            <div class="section__item cards__card card">
                <div class="card__container">
                    {{ macros.renderColumn(subblock) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
