<div class="layer two-columns {% if not blockLoop.first %}pt-5{% endif %}">
    <div class="container">

        {% if block.sectionTitle %}
            <h2>
                {{ block.sectionTitle }}
            </h2>
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                {{ block.leftContent }}
            </div>
            <div class="col-md-6">
                {{ block.rightContent }}
            </div>
        </div>

        <hr class="mt-5">
    </div>
</div>
