
$font-stack: 'Open sans', Arial, sans-serif;

$white:     #FFF;
$lightgray: #DDD;
$gray:      #808080;
$darkgray:  #4A4A4A;
$charcoal:  #191919;
$black:     #000;

$font-color:         #212529;
$gray-light:         #ACACAC;
$gray-lightest:      #f0f0f0;

$blue-medium:        #0C96DD;
$blue:               #387fc2;
$blue-dark:          #0d3a59;
$blue-darkest:       #091724;
$green-medium:       #48AC2C;
$orange:             #EB7424;
$red-medium:         #d62938;
$red-dark:           #CE2A2A;
$yellow-medium:      #ffce2e;


///
/// Messaging colors
///

$success: $green-medium;
$error: $red-dark;
$info: $gray-light;


///
/// Social Network Colors
///

$facebook: #3664A2;
$twitter: #55ACEE;
$linkedin: #0077B5;
$youtube: #CD201F;