button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0;
}

label {
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    .help {
        color: $meta-text;
        font-size: 0.8rem;
        margin: 0;
    }
}

input[type="reset"],
input[type="search"],
input[type="text"],
input[type="submit"] {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: $gray-400;
}

::ms-input-placeholder {
    color: $gray-400;
}

::-placeholder {
    color: $gray-400;
}

select {
    border: 1px solid $border;
    height: 2.4rem;
    width: 100%;
}

textarea {
    height: 8em;
    overflow: auto;
    resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}
