
/**
 * For use on checkboxes, radio switches, buttons, anchors or spans.
 * when used with checkboxs and radio the markup should be the following:
 *
 * @example
    <label class="tag field -inline" for="tag-checkbox-active">
        <svg class="tag__icon">
            <use href="/main-icons-sprite.svg#tag">
        </svg>
        Checked Checkbox Tag
        <input class="tag__input" type="checkbox" id="tag-checkbox-active" checked>
    </label>
 */

.tag {
    $b: &;

    align-items: center;
    background-color: transparent;
    border: 1px solid var(--accent-color);
    border-radius: .333em; 
    color: var(--accent-color-700);
    display: inline-flex;
    font-size: var(--root-font-size-sm);
    gap: 0.667em;
    justify-content: space-between;
    line-height: 1;  
    margin-bottom: calc(var(--root-gap) / 2);
    margin-right: calc(var(--root-gap) / 2);
    padding: 0.667em 1.333em;
    position: relative;
    transition: background var(--root-ease-out-fast), border-color var(--root-ease-out-fast);

    &__input {
        display: none;
    }

    &__icon {
        aspect-ratio: 1;
        color: var(--accent-color);
        flex-shrink: 0;
        height: 1.25em;
        width: 1.25em;

        > use {
            &:nth-child(2) {
                opacity: 0;
            }
        }
    }

    &:hover {
      border-color: var(--accent-color-700);

      #{$b}__icon {
        color: var(--accent-color-700);
      }
    }

    // Button tag
    &:where(button) {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        color: #fff;
        box-shadow: var(--root-box-shadow-low);
        #{$b}__icon {
            color: #fff;
        }
        
        &:hover {
            background-color: var(--accent-color-700);
            border-color: var(--accent-color-700);
            cursor: pointer;

            #{$b}__icon {
              color: inherit;
            }
        }
    }

    // Active/checked state
    &.-active,
    &:has(input:checked) {
        background-color: var(--accent-color-700);
        border-color: var(--accent-color-700);
        color: #fff;

        #{$b}__icon {
            color: #fff;
        }
    }

    // Dismissabe checkbox
    &.-dismissable:has(input:checked) {
        background-color: var(--accent-color-700);
        border-color: var(--accent-color-700);
        color: #fff;
        #{$b}__icon {
            color: #fff;
            padding: .1667em;

            > use:nth-child(1) {
                opacity: 0;
            }

            > use:nth-child(2) {
                opacity: 1;
            }
        }
    }

    // forced inactive state.
    &.-inactive, &:has(input:disabled) {
        background-color: transparent;
        border-color: var(--root-color-inactive);
        color: var(--root-color-inactive);
        #{$b}__icon {
            color: var(--root-color-inactive);
        }
    }

}
