<div class="{{ class }} search">
    <form action="">


        {% render "@filters" %}

        <div class="search__field">
            <input class="search__input" type="search" placeholder="Search...">
            <button class="search__button button -primary" type="submit">Search</button>
        </div>

        <div class="search__meta">
            1-10 of 42 results.
        </div>
    </form>
</div>
