<nav class="{{ class }} breadcrumbs">
    <ol class="breadcrumbs__list">
        <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="">
                Item 1
                <svg class="link__icon -separator" viewBox="0 0 24 24" stroke="currentColor" fill="none"><polyline points="9 6 15 12 9 18" /></svg>
            </a>
        </li>
        <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="">
                Item 2
                <svg class="link__icon -separator" viewBox="0 0 24 24" stroke="currentColor" fill="none"><polyline points="9 6 15 12 9 18" /></svg>
            </a>
        </li>
        <li class="breadcrumbs__item -active">
            <a class="breadcrumbs__link" href="">
                Item 3
            </a>
        </li>
    </ol>
</nav>
