<div class="{{ class }} logoCloud">
    <div class="logoCloud__grid">
        {% for i in 1..5 %}
            <div class="logoCloud__icon">
                <img class="logoCloud__img" src="/media/logo-ipsum.svg" alt="logo ipsum">
            </div>
            <div class="logoCloud__icon">
                <img class="logoCloud__img" src="/media/logo-ultra.svg" alt="Ultra Prestigious">
            </div>
            <div class="logoCloud__icon">
                <img class="logoCloud__img" src="/media/logo-circles.svg" alt="Circles Corp">
            </div>
            <div class="logoCloud__icon">
                <img class="logoCloud__img" src="/media/logo-worm.svg" alt="Worm Limited">
            </div>
        {% endfor %}
    </div>
</div>
