<figure class="testimonial">
    <blockquote class="testimonial__quote">
        {{ block.quote }}
    </blockquote>
    <figcaption class="testimonial__caption">
        <div class="avatar -horizontal testimonial__attribution">
            <div class="avatar__info">
                <h2 class="avatar__name">{{ block.person }}</h2>
                <div class="avatar__title">{{ block.jobTitle }}</div>
            </div>
        </div>
    </figcaption>
</figure>
