<figure class="testimonial">
    <blockquote class="testimonial__quote">
        {{ column.sectionQuote }}
    </blockquote>
    <figcaption class="testimonial__caption">
        <div class="avatar -horizontal testimonial__attribution">
            <div class="avatar__info">
                <h2 class="avatar__name">{{ column.sectionPerson }}</h2>
                <div class="avatar__title">{{ column.sectionJobTitle }}</div>
            </div>
        </div>
    </figcaption>
</figure>
