.mobileNavigation {
  --link-color: var(--accent-color);

  &__pane {
    background: #fff;
    box-shadow: var(--root-box-shadow-med);
    inset: 0 4.5rem 0 0;
    overflow-x: auto;
    position: fixed;
    transition: translate var(--root-ease-out-fast);
    translate: 0;
    z-index: 2;

    @starting-style {
      translate: -100%;
    }

    & & {
      inset: 0;
    }
  }

  &__menu {
    position: fixed;
    inset: .5rem .75rem 0 auto;
  }

  &__closeButton {
    background: var(--color-gray-100);
    display: grid;
    inset: 0 0 0 auto;
    padding: .375rem 0;
    place-content: start center;
    position: fixed;
    transition: opacity var(--root-ease-out-fast);
    translate: 0;
    width: 4.5rem;
    z-index: 1;

    @starting-style {
      opacity: 0;
    }
  }

  &__title {
    display: grid;
    place-content: center;
    padding: .25rem .5rem;
    min-height: 4.25rem;
  }


  &__actions {
    position: absolute;
    display:flex;
    gap: .5rem;
  }

  &__button,
  &__link {
    padding: 1rem .5rem 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--accent-color);
  }

  &__list > li {
    border-top: 1px solid var(--color-gray-100);
  }

  &__button {
    appearance: none;
    border: 0;
    width: 100%;
    background: #0000;
  }
}
