<div class="{{ class }} grid">
    <div style="background: #0f02; grid-column: 2">2</div>
    <div style="background: #0f02; grid-column: 3">3</div>
    <div style="background: #0f02; grid-column: 4">4</div>
    <div style="background: #0f02; grid-column: 5">5</div>
    <div style="background: #0f02; grid-column: 6">6</div>
    <div style="background: #0f02; grid-column: 7">7</div>
    <div style="background: #0f02; grid-column: 8">8</div>
    <div style="background: #0f02; grid-column: 9">9</div>
    <div style="background: #0f02; grid-column: 10">10</div>
    <div style="background: #0f02; grid-column: 11">11</div>
    <div style="background: #0f02; grid-column: 12">12</div>
    <div style="background: #0f02; grid-column: 13">13</div>

    <div style="background: #0f02; grid-column: 2 / 4">2 / 4</div>
    <div style="background: #0f02; grid-column: 4 / 6">4 / 6</div>
    <div style="background: #0f02; grid-column: 6 / 8">6 / 8</div>
    <div style="background: #0f02; grid-column: 8 / 10">8 / 10</div>
    <div style="background: #0f02; grid-column: 10 / 12">10 / 12</div>
    <div style="background: #0f02; grid-column: 12 / 14">12 / 14</div>

    <div style="background: #0f02; grid-column: 2 / 5">2 / 5</div>
    <div style="background: #0f02; grid-column: 5 / 8">5 / 8</div>
    <div style="background: #0f02; grid-column: 8 / 11">8 / 11</div>
    <div style="background: #0f02; grid-column: 11 / 14">11 / 14</div>

    <div style="background: #0f02; grid-column: 2 / 6">2 / 6</div>
    <div style="background: #0f02; grid-column: 6 / 10">6 / 10</div>
    <div style="background: #0f02; grid-column: 10 / 14">10 / 14</div>

    <div style="background: #0f02; grid-column: 2 / 8">2 / 8</div>
    <div style="background: #0f02; grid-column: 8 / 14">8 / 14</div>
</div>
