
<div class="{{ class }} grid">
    <div style="background: #0f02; grid-column: main">main</div>
    <div style="background: #0f02; grid-column: wide">wide</div>
    <div style="background: #0f02; grid-column: main / center">main / center</div>
    <div style="background: #0f02; grid-column: center / wide">center / wide</div>
    <div style="background: #0f02; grid-column: wide / center">wide / center</div>
    <div style="background: #0f02; grid-column: center / main">center / main</div>
</div>
