<a href="#">A classless link,</a>
<a class="link" href="#">I am a link</a>
and
<a class="link -disabled" href="#">I am a disabled link.</a>

<a class="link" href="#">
    Read More
    <svg class="link__icon" viewBox="0 0 24 24" stroke="currentColor" fill="none"><polyline points="9 6 15 12 9 18" /></svg>
</a>
