<div class="{{ class }} field -checkbox">
    <label class="field__label" for="accept">
        Lorem repellendus consequuntur sunt fuga alias
        Delectus quos sunt ducimus consectetur excepturi
        Voluptatum doloribus excepturi omnis aspernatur
        harum rerum animi? Facere iste harum nihil libero
        autem obcaecati. Esse necessitatibus hic.
    </label>
    <input class="field__input" type="checkbox" id="accept">
</div>
