<div class="field">
    <label class="field__label" for="example-text">Example Text:</label>
    <input class="field__input" name="example-text" type="text" placeholder="Enter some text">
    <div class="field__help">
        Sit velit omnis necessitatibus quis unde Accusamus provident sed minus.
    </div>
</div>

<div class="field -error">
    <label class="field__label" for="example-text">
        Example Text:
        <span class="field__required">*</span>
    </label>
    <input class="field__input" name="example-text" type="text" placeholder="Enter some text">
    <div class="field__error">
        Oops, ipsum alias saepe cum iusto animi? Sed illum accusamus sunt.
    </div>
</div>
