<div class="{{ class }} card">
    <div class="card__container">
        <div class="card__icon">
            <svg xmlns="http://www.w3.org/2000/svg" height="64" width="64" viewBox="0 0 6 6" stroke-width=".25" stroke="currentColor" fill="none"><rect x="1" y="1" width="4" height="4" rx="1" /></svg>
        </div>
        <h4 class="card__heading">One Great Heading</h4>
        <p class="card__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos et voluptatum aliquam neque beatae.</p>
        <div class="card__actions -attached">
            <a href="" class="card__action button -secondary">Learn More</a>
            <a href="" class="card__action button -primary">Register</a>
        </div>
    </div>
</div>
