{% import "/_macros" as macros %}
{% set section = 'blogPage' %}
{% extends "_layouts/main" %}
{% block content %}
    {% include '_partials/hero' with { hero: {
        eyebrow: 'Blog Article',
        headline: entry.title,
        introduction: "#{macros.commaSeparate(entry.blogAuthor)} – #{entry.blogDate|date('F jS, Y')}"
    } } %}


    {{ macros.renderAllBlocks(entry.contentDesigner) }}

    {#
    <div class="text-center my-5">
        {% set index = craft.entries.section('blogPage').one %}
        <a class="btn btn-outline-secondary" href="{{ index.url }}">Return to {{ index.title }}</a>
    </div>
    #}

{% endblock %}
