{##
 # This is just an example file showing a way to implement paginated blogs.
 #}
{% import "/_macros" as macros %}
{% set section = 'blogPage' %}
{% extends "_layouts/main" %}
{% block content %}
    {% include '_partials/hero' with {
        headline: entry.headline,
        subheadline: entry.subheadline
    } %}
    <div class="container">

        <div class="form-row">
            <div class="form-group col-md-6">
                <h4 class="mb-0">
                    Filter by Category:
                </h4>
                <blog-categories v-slot="{ blogCategories }">
                    <div>
                        <select class="form-control" v-model="params.category">
                            <option :value="null" selected>All</option>
                            <option v-for="blogCategory in blogCategories" :value="blogCategory.slug" :key="blogCategory.id" v-text="blogCategory.title"></option>
                        </select>
                    </div>
                </blog-categories>
            </div>
        </div>

        <blogs :params="params" v-slot="{ blogs, isLoading, meta: { pagination } = {} }">
            <div class="row row-cols-1 row-cols-md-3">
                <div v-if="blogs && !blogs.length && !isLoading" class="col mb-4" v-cloak>No blogs found.</div>
                <div v-else v-for="article in blogs" :key="article.id" class="col mb-4">
                    <div class="card h-100 shadow-sm">
                        <img class="card-img-top" :src="article.image" :alt="article.imageAltText">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a :href="article.url" v-text="article.title"></a>
                            </h4>
                            <div class="card-text" v-html="article.description"></div>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <a :href="article.url" v-text="article.cta" class="btn btn-sm btn-outline-primary"></a>
                            <small class="text-muted" v-text="article.date"></small>
                        </div>
                    </div>
                </div>      

                <pagination v-if="pagination" :total-pages="pagination.total_pages" v-model="params.page"></pagination>
            </div>
        </blogs>
    </div>

{% endblock %}
