{% import "/_macros" as macros %}
{% set section = 'news' %}
{% extends "_layouts/main" %}
{% block content %}
    {% include '_partials/hero' with {
        headline: entry.title
    } %}

    <div class="container">
        <p class="text-muted">{{ entry.newsDate|date("F jS, Y") }}</p>
    </div>

    {{ macros.renderAllBlocks(entry.designedContent) }}

    <div class="text-center my-5">
        {% set index = craft.entries.section('newsEventsPage').one %}
        <a class="btn btn-outline-secondary" href="{{ index.url }}">Return to {{ index.title }}</a>
    </div>


{% endblock %}
