<div class="{{ class }} team">
    <div class="team__container container">
        <div class="team__members">
            {% render "@avatar" with { class: "team__member" } %}
            {% render "@avatar" with { class: "team__member" } %}
            {% render "@avatar" with { class: "team__member" } %}
            {% render "@avatar" with { class: "team__member" } %}
            {% render "@avatar" with { class: "team__member" } %}
            {% render "@avatar" with { class: "team__member" } %}
            {% render "@avatar" with { class: "team__member" } %}
        </div>
    </div>
</div>
