<div class="{{ class }} categories">
    <div class="checkbox categories__category">
        <input class="checkbox__input" type="radio" name="categories" id="category1">
        <div class="checkbox__checkbox">
            <svg class="checkbox__icon" viewBox="0 0 12 12" stroke-width="2" stroke="currentColor" fill="none">
                <path d="M3 6l2 2l4 -4" />
            </svg>
        </div>
        <label class="checkbox__label" for="category1">
            Category 1
        </label>
    </div>
    <div class="checkbox categories__category">
        <input class="checkbox__input" type="radio" name="categories" id="category2">
        <div class="checkbox__checkbox">
            <svg class="checkbox__icon" viewBox="0 0 12 12" stroke-width="2" stroke="currentColor" fill="none">
                <path d="M3 6l2 2l4 -4" />
            </svg>
        </div>
        <label class="checkbox__label" for="category2">
            Category 2
        </label>
    </div>
    <div class="checkbox categories__category">
        <input class="checkbox__input" type="radio" name="categories" id="category3">
        <div class="checkbox__checkbox">
            <svg class="checkbox__icon" viewBox="0 0 12 12" stroke-width="2" stroke="currentColor" fill="none">
                <path d="M3 6l2 2l4 -4" />
            </svg>
        </div>
        <label class="checkbox__label" for="category3">
            Category 3
        </label>
    </div>
</div>
