{% import "/_macros" as macros %}
{% set section = 'resourcesPage' %}
{% extends "_layouts/main" %}
{% block content %}
    {% if entry.resourceTopics|length and entry.resourceDate %}
        {% set introduction = "#{macros.commaSeparate(entry.resourceTopics)} – #{entry.resourceDate|date('F jS, Y')}" %}
    {% elseif entry.resourceTopics|length %}
        {% set introduction = macros.commaSeparate(entry.resourceTopics) %}
    {% elseif entry.resourceDate %}
        {% set introduction = entry.resourceDate|date('F jS, Y') %}
    {% endif %}

    {% include '_partials/hero' with { hero: {
        kicker: macros.commaSeparate(entry.resourceTypes),
        headline: entry.title,
        introduction: introduction,
        backgroundImage: entry.resourceFeaturedImage.one
    } } %}

    <div class="layer">
        <div class="layer__container container">
            <div class="layer__introduction -emphasized">
                {{ entry.resourceDescription }}
            </div>
        </div>
    </div>

    {{ macros.renderAllBlocks(entry.contentDesigner) }}

{% endblock %}
