{% do view.registerJsFile(mix('/js/resources.js')) %}
{% import "/_macros" as macros %}
{% set section = 'resourcesPage' %}
{% extends "_layouts/main" %}
{% block content %}
    {% include '_partials/hero' with {
        headline: entry.headline,
        subheadline: entry.subheadline
    } %}

    <resources :params="params" v-slot="{ query, resources, meta: { pagination  = {} } = {} }">
        <div class="container">

            <div class="input-group mb-4">
                <search class="form-control" placeholder="Search resources" v-model="params.search"></search>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" @click="query({mustGet: true})">Search</button>
                </div>
            </div>

            <div class="row row-cols-1 row-cols-md-3">
                <div v-for="resource in resources" :key="resource.id" class="col mb-4">
                    <div class="card h-100 shadow-sm">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a :href="resource.url" v-text="resource.title"></a>
                            </h4>
                            <div class="card-text" v-html="resource.description"></div>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <a :href="resource.url" v-text="resource.cta" class="btn btn-sm btn-outline-primary"></a>
                            <small class="text-muted" v-text="resource.date"></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a
                        v-if="pagination.current_page < pagination.total_pages"
                        :href="nextPage"
                        @click.prevent="params.page += 1"
                        class="btn btn-outline-primary"
                    >
                        More
                    </a>
                </div>
            </div>
        </div>
    </resources>

{% endblock %}
