<div class="{{ class }} filters">
    <div class="filters__filter select">
        <label class="select__label" for="filter1">Filter by Type:</label>
        <select class="select__select" name="filter1">
            <option>Ipsum asperiores</option>
            <option>Consectetur in</option>
            <option>Ipsum impedit</option>
            <option>Dolor vero</option>
            <option>Sit minima</option>
            <option>Adipisicing animi</option>
            <option>Lorem voluptatem</option>
            <option>Lorem voluptatibus</option>
            <option>Lorem ipsam</option>
            <option>Elit eligendi</option>
        </select>
    </div>
    <div class="filters__filter select">
        <label class="select__label" for="filter1">Filter by Type:</label>
        <select class="select__select" name="filter1">
            <option>Amet vitae</option>
            <option>Sit voluptatibus</option>
            <option>Elit reprehenderit</option>
            <option>Adipisicing esse</option>
            <option>Sit in</option>
            <option>Amet quia</option>
            <option>Ipsum in</option>
            <option>Lorem impedit</option>
            <option>Amet inventore</option>
            <option>Adipisicing in</option>
        </select>
    </div>
</div>
