<div class="{{ class }} backgroundVideo -overlay">
    <video class="backgroundVideo__video" autoplay="autoplay" loop="loop" poster="/resources/media/video_placeholder.jpg" muted>
        <source src="/resources/media/imarc_culture_video_1.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
        <source src="/resources/media/imarc_culture_video_1.webmhd.webm" type='video/webm; codecs="vp8, vorbis"' />
    </video>
    <div class="backgroundVideo__container container">
        <h1 class="backgroundVideo__title">
            Imarc loves background videos
        </h1>
        <p class="backgroundVideo__subtitle">
            Lorem ipsum dolor sit amet consectetur adipisicing elit fuga.
        </p>
    </div>
</div>

