<div class="backgroundVideo -overlay">
    <div class="backgroundVideo__backdrop">
        <div class="backgroundVideo__wrapper">
            <h1 class="backgroundVideo__title">
                Imarc loves overlay background videos
            </h1>
            <p class="backgroundVideo__subtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit fuga.
            </p>
        </div>
    </div>
    <video class="backgroundVideo__video" autoplay="autoplay" loop="loop" poster="/media/video_placeholder.jpg" muted>
        <source src="/media/imarc_culture_video_1.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
        <source src="/media/imarc_culture_video_1.webmhd.webm" type='video/webm; codecs="vp8, vorbis"' />
    </video>
</div>
