<h1 class="accented">And the Headline</h1>
<p>
    Elit veritatis sit sint voluptas nisi ad Beatae consectetur accusantium iste officia similique molestiae voluptatum. Repellat minima ex aut neque excepturi cumque esse repellendus Eum sint hic nam quos harum?
</p>


<h2 class="accented -primary">And the Headline</h2>
<p>
    Sit corporis fugit fugit quo doloribus Eligendi consequatur architecto voluptate molestiae saepe? Consectetur molestiae repellendus distinctio omnis magni? Quos voluptate aliquid sed modi consequuntur Error blanditiis labore quo dolor corrupti.
</p>


<h3 class="accented -secondary">And the Headline</h3>
<p>
    Adipisicing earum eaque illo eum quas asperiores. Tempora cum architecto consequuntur est et doloremque, minus Natus dolorem soluta officia dignissimos delectus Ipsam cupiditate facere nulla nesciunt non? Ea placeat fuga
</p>
