{% import "/_macros" as macros %}
{% set section = 'about' %}
{% extends "_layouts/main" %}
{% block content %}
    {% include '_partials/hero' with {
        headline: entry.headline,
        subheadline: entry.subheadline
    } %}

    {{ macros.renderAllBlocks(entry.designedContent) }}

    <div class="layer contact-form pt-5">

        <div class="container">
            <form method="post" action="" accept-charset="UTF-8">
                {{ csrfInput() }}
                <input type="hidden" name="action" value="contact-form/send">

                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="from-name">Your Name</label>
                        <input type="text" class="form-control" id="from-name" placeholder="Your Name">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="from-email">Your Email</label>
                        <input type="email" class="form-control" id="from-email" placeholder="name@example.com">
                    </div>
                </div>
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" id="message" rows="10"></textarea>
                </div>

                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>

        <hr class="mt-5">
    </div>

{% endblock %}
