{% extends "_layout" %}

{% block hero %}
    <div class="container">
        <div class="copy">
            <h1>{{ entry.title }}</h1>
        </div>
    </div>
{% endblock %}
    
{% block content %}
    <div class="container">
        <main>
            <section>
                {% include themePath ~ "_structured-content" %}
            </section>
        </main>
    </div>
{% endblock %}