@use "/resources/styles/common" as *;
@use "/resources/styles/config";

.select {
    &__select {
        appearance: none;
        background: transparent url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzIgNCAyMCAxNicgZmlsbD0nbm9uZScgc3Ryb2tlPScjMTQxNDE0JyBzdHJva2Utd2lkdGg9JzAuMTI1cmVtJz48cGF0aCBkPSdtNiA5IDYgNiA2LTYnLz48L3N2Zz4=) right #{config.$h-space - .5rem} center / #{config.$line-height * 1em} no-repeat;
        border: 2px solid config.$link;
        padding: config.$thin-padding;
        height: auto;
    }
}
