<div class="{{ class }} select">
    <label class="select__label" for="filter1">Filter by Type:</label>
    <select class="select__select" name="filter1">
        <option>Ipsum asperiores</option>
        <option>Consectetur in</option>
        <option>Ipsum impedit</option>
        <option>Dolor vero</option>
        <option>Sit minima</option>
        <option>Adipisicing animi</option>
        <option>Lorem voluptatem</option>
        <option>Lorem voluptatibus</option>
        <option>Lorem ipsam</option>
        <option>Elit eligendi</option>
    </select>
</div>
