<div class="{{ class }} tiles">
    <div class="tiles__tile">
        <h4>One Great Headline</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos et voluptatum aliquam neque beatae.</p>
    </div>
    <div class="tiles__tile">
        <h4>One Great Headline</h4>
        <p>Lorem ipsum dolor</p>
    </div>
    <div class="tiles__tile">
        <h4>One Great Headline</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos et voluptatum aliquam neque beatae tempora distinctio numquam iusto sed iure impedit Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="tiles__tile">
        <h4>One Great Headline</h4>
        <p>Lorem ipsum dolor</p>
    </div>
    <div class="tiles__tile">
        <h4>One Great Headline</h4>
        <p>Lorem ipsum dolor</p>
    </div>
    <div class="tiles__tile">
        <h4>One Great Headline</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos et voluptatum aliquam neque beatae tempora distinctio numquam iusto sed iure impedit Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="tiles__tile">
        <h4>One Great Headline</h4>
        <p>Lorem ipsum dolor</p>
    </div>
</div>
