<button class="button -outline">Plain</button>
<button class="button -outline -primary">Primary</button>
<button class="button -outline -secondary">Secondary</button>
<button class="button -outline -danger">Danger</button>
<button class="button -outline -confirm">Confirm</button>
<button disabled class="button -outline -disabled">Disabled</button>
