<div class="stack">
    <div>
        <img class="stack__cover" src="https://placeimg.com/960/480/tech/sepia" alt="">
    </div>
    <div>
        <p style="color: blue; font-size: 1.5rem; padding: 1.5rem">
            Consectetur natus assumenda placeat rerum ex? Labore ipsum quia totam numquam dolorum Nostrum enim facere possimus cupiditate quibusdam fugit. Beatae repellat ea eaque sapiente et, magnam deleniti! Fuga laudantium excepturi
        </p>
    </div>
</div>
