{% import "/_macros" as macros %}
{% set section = 'about' %}
{% extends "_layouts/main" %}
{% block content %}
    {% include '_partials/hero' with {
        headline: entry.headline,
        subheadline: entry.subheadline
    } %}

    <div class="container">
        <div class="row">
            {% for person in craft.entries.section('people').all() %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h4 class="card-title mb-0">{{ person.link }}</h4>
                            <p class="text-muted mb-3">{{ person.personJobTitle }}</p>
                            <div class="card-text">{{ person.personAbstract }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
