@use "palette" as *;
@forward "palette";

///
/// Site Colors
///
$primary: $blue-500;
$primary-hover: $blue-400;
$secondary: $aqua-200;
$secondary-hover: $aqua-100;



///
/// Messaging colors
///
$confirm: $green-400;
$confirm-hover: $green-300;
$danger: $red-400;
$danger-hover: $red-300;
$disabled: $gray-200;
$error: $red-500;
$info: $blue-400;
$success: $green-300;
$warning: $yellow-200;


///
/// Applied colors
///
$plain-text: $gray-900;
$meta-text: $gray-500;
$link: $primary;
$link-hover: $blue-300;
$border: $gray-200;


///
/// Social Network Colors
///
$facebook: #3664A2;
$twitter: #55ACEE;
$linkedin: #0077B5;
$youtube: #CD201F;
