<bp-mobile-navigation title="Example Menu" class="{{ class }}">
    <ul class="mobileNav__list">
        <li class="mobileNav__item">
            <a href="">Maine</a>
            <ul>
                <li><a href="#">Bar Harbor</a></li>
                <li><a href="#">Camden</a></li>
                <li><a href="#">Castine</a></li>
                <li><a href="#">Damariscotta</a></li>
                <li><a href="#">Kennebunkport</a></li>
                <li><a href="#">Old Orchard Beach</a></li>
                <li><a href="#">Portland</a></li>
                <li><a href="#">Rockland</a></li>
                <li><a href="#">Stonington</a></li>
                <li><a href="#">Acadia</a></li>
                <li><a href="#">Baxter</a></li>
                <li><a href="#">Camden Hills</a></li>
                <li><a href="#">Popham Beach</a></li>
                <li><a href="#">Quoddy Head</a></li>
                <li><a href="#">Reid</a></li>
                <li><a href="#">Agricultural Attractions</a></li>
                <li><a href="#">Arts &amp; Culture</a></li>
                <li><a href="#">Camping</a></li>
                <li><a href="#">Fishing</a></li>
                <li><a href="#">Guide Services</a></li>
                <li><a href="#">Hiking &amp; Climbing</a></li>
                <li><a href="#">Hunting</a></li>
                <li><a href="#">Lighthouses &amp; Sightseeing</a></li>
                <li><a href="#">Shopping</a></li>
                <li><a href="#">Spas, Health &amp; Wellness</a></li>
                <li><a href="#">Wildlife Watching</a></li>
                <li><a href="#">Winter Activities</a></li>
            </ul>
        </li>
        <li class="mobileNav__item">
            <a href="">New Hampshire</a>
            <ul>
                <li><a href="#">Manchester</a></li>
                <li><a href="#">Portsmouth</a></li>
                <li><a href="#">Sunapee</a></li>
                <li><a href="#">Concord</a></li>
                <li><a href="#">Conway</a></li>
                <li><a href="#">Keene</a></li>
                <li><a href="#">Laconia</a></li>
            </ul>
        </li>
        <li class="mobileNav__item">
            <a href="">Massachusetts</a>
            <ul>
                <li><a href="#">Boston</a></li>
                <li><a href="#">Cambridge</a></li>
                <li><a href="#">Lowell</a></li>
                <li><a href="#">Plymouth</a></li>
                <li><a href="#">Salem</a></li>
                <li><a href="#">Springfield</a></li>
                <li><a href="#">Worcester</a></li>
            </ul>
        </li>
    </ul>
</bp-mobile-navigation>
