<label class="toggleButton" tabindex="0" for="toggle1">
    <input class="toggleButton__input" type="checkbox" id="toggle1">
    <span class="toggleButton__label">
        <div class="toggleButton__checkbox">
            <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                <path d="M9 12l2 2l4 -4" />
            </svg>
        </div>
        Checkbox
    </span>
</label>

<label class="toggleButton -disabled" for="toggle2">
    <input disabled class="toggleButton__input" type="checkbox" id="toggle2">
    <span class="toggleButton__label">
        <div class="toggleButton__checkbox">
            <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                <path d="M9 12l2 2l4 -4" />
            </svg>
        </div>
        Disabled
    </span>
</label>

<label class="toggleButton" tabindex="0" for="toggle3">
    <input name="example-1" class="toggleButton__input" type="radio" id="toggle3">
    <span class="toggleButton__label">
        <div class="toggleButton__checkbox -radio">
            <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                <circle cx="12" cy="12" r="2" fill="currentColor" />
            </svg>
        </div>
        Radio
    </span>
</label>

<label class="toggleButton" tabindex="0" for="toggle4">
    <input name="example-1" class="toggleButton__input" type="radio" id="toggle4">
    <span class="toggleButton__label">
        <div class="toggleButton__checkbox -radio">
            <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                <circle cx="12" cy="12" r="2" fill="currentColor" />
            </svg>
        </div>
        Radio
    </span>
</label>

<label class="toggleButton -disabled" for="toggle5">
    <input disabled class="toggleButton__input" type="radio" id="toggle5">
    <span class="toggleButton__label">
        <div class="toggleButton__checkbox -radio">
            <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                <circle cx="12" cy="12" r="2" fill="currentColor" />
            </svg>
        </div>
        Disabled
    </span>
</label>

<label class="toggleButton -primary" tabindex="0" for="toggle6">
    <input class="toggleButton__input" type="checkbox" checked="checked" id="toggle6">
    <span class="toggleButton__label">
        <div class="toggleButton__checkbox">
            <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                <path d="M9 12l2 2l4 -4" />
            </svg>
        </div>
        Primary
    </span>
</label>

<label class="toggleButton -secondary" tabindex="0" for="toggle7">
    <input class="toggleButton__input" type="checkbox" id="toggle7">
    <span class="toggleButton__label">
        <div class="toggleButton__checkbox">
            <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                <path d="M9 12l2 2l4 -4" />
            </svg>
        </div>
        Secondary
    </span>
</label>
