<label class="toggleButton -blank" tabindex="0">
    <input class="toggleButton__input" type="checkbox">
    <span class="toggleButton__label">
        Checkbox
    </span>
</label>

<label class="toggleButton -blank -disabled">
    <input disabled class="toggleButton__input" type="checkbox">
    <span class="toggleButton__label">
        Disabled
    </span>
</label>

<label class="toggleButton -blank" tabindex="0">
    <input name="example-1" class="toggleButton__input" type="radio">
    <span class="toggleButton__label">
        Radio
    </span>
</label>

<label class="toggleButton -blank" tabindex="0">
    <input name="example-1" class="toggleButton__input" type="radio">
    <span class="toggleButton__label">
        Radio
    </span>
</label>

<label class="toggleButton -blank -disabled">
    <input disabled class="toggleButton__input" type="radio">
    <span class="toggleButton__label">
        Disabled
    </span>
</label>

<label class="toggleButton -blank -primary" tabindex="0">
    <input class="toggleButton__input" type="checkbox" checked="checked">
    <span class="toggleButton__label">
        Primary
    </span>
</label>

<label class="toggleButton -blank -secondary" tabindex="0">
    <input class="toggleButton__input" type="checkbox">
    <span class="toggleButton__label">
        Secondary
    </span>
</label>
