<label class="toggleButton -outline" tabindex="0">
    <input class="toggleButton__input" type="checkbox">
    <span class="toggleButton__label">
        <div class="toggleButton__checkbox">
            <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                <path d="M9 12l2 2l4 -4" />
            </svg>
        </div>
        Checkbox
    </span>
</label>

<label class="toggleButton -outline -disabled">
    <input disabled class="toggleButton__input" type="checkbox">
    <span class="toggleButton__label">
        <div class="toggleButton__checkbox">
            <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                <path d="M9 12l2 2l4 -4" />
            </svg>
        </div>
        Disabled
    </span>
</label>

<label class="toggleButton -outline" tabindex="0">
    <input name="example-1" class="toggleButton__input" type="radio">
    <span class="toggleButton__label">
        <div class="toggleButton__checkbox -radio">
            <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                <circle cx="12" cy="12" r="2" fill="currentColor" />
            </svg>
        </div>
        Radio
    </span>
</label>

<label class="toggleButton -outline" tabindex="0">
    <input name="example-1" class="toggleButton__input" type="radio">
    <span class="toggleButton__label">
        <div class="toggleButton__checkbox -radio">
            <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                <circle cx="12" cy="12" r="2" fill="currentColor" />
            </svg>
        </div>
        Radio
    </span>
</label>

<label class="toggleButton -outline -disabled">
    <input disabled class="toggleButton__input" type="radio">
    <span class="toggleButton__label">
        <div class="toggleButton__checkbox -radio">
            <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                <circle cx="12" cy="12" r="2" fill="currentColor" />
            </svg>
        </div>
        Disabled
    </span>
</label>

<label class="toggleButton -outline -primary" tabindex="0">
    <input class="toggleButton__input" type="checkbox" checked="checked">
    <span class="toggleButton__label">
        <div class="toggleButton__checkbox">
            <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                <path d="M9 12l2 2l4 -4" />
            </svg>
        </div>
        Primary
    </span>
</label>

<label class="toggleButton -outline -secondary" tabindex="0">
    <input class="toggleButton__input" type="checkbox">
    <span class="toggleButton__label">
        <div class="toggleButton__checkbox">
            <svg class="toggleButton__icon" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none">
                <path d="M9 12l2 2l4 -4" />
            </svg>
        </div>
        Secondary
    </span>
</label>
