<bp-accordion class="accordion" :id="'content1'">
    <template #heading>
        <h3 class="accordion__heading">Content 1</h3>
    </template>
    <p>
        Amet consectetur dignissimos at sequi officiis? Debitis accusamus veritatis voluptatem quas quis? Optio velit maxime ipsam temporibus ratione, temporibus. Fugiat eligendi officiis <a href="#">impedit</a> voluptate recusandae. Veniam expedita velit aut ad.
    </p>
</bp-accordion>
<bp-accordion class="accordion" :id="'content2'">
    <template #heading>
        <h3 class="accordion__heading">Content 2</h3>
    </template>
    <p>
        Elit laboriosam ipsum dolorem earum quisquam consequuntur? Voluptatibus qui sed!
    </p>
</bp-accordion>
<bp-accordion class="accordion">
    <template #heading>
        <h3 class="accordion__heading">Content 3</h3>
    </template>
    <p>
        Ipsum voluptatem provident sit ab odio magni, repudiandae veritatis. Beatae nisi reprehenderit earum voluptates fugit nam. Explicabo laboriosam corporis sed est iusto veniam error. Sequi corrupti iusto sed itaque repudiandae saepe voluptas ipsa Ut et ab vitae temporibus repellat Cumque omnis autem culpa accusantium voluptatibus est? Molestiae voluptatem eaque vero?
    </p>
</bp-accordion>
<bp-accordion class="accordion" :id="'content4'">
    <template #heading>
        <h3 class="accordion__heading">Content 4</h3>
    </template>
    <p>
        Dolor reprehenderit ut fugiat necessitatibus debitis veniam in Tenetur deleniti suscipit dignissimos corporis expedita Vitae eum quia quia in modi adipisci voluptate nihil Ullam delectus assumenda consequatur aperiam nam explicabo!
    </p>
</bp-accordion>
<bp-accordion class="accordion" :id="'content5'">
    <template #heading>
        <h3 class="accordion__heading">Content 5</h3>
    </template>
    <p>
        Dolor quibusdam beatae sint provident nihil. Dolorem minus consectetur cumque voluptas fuga Soluta eaque quos aspernatur aliquam rerum. Exercitationem illum vel quod nemo fugiat totam. Optio et ducimus consequatur at
    </p>
</bp-accordion>
