<bp-dropdown label="Our Company" id="js-about" {% if class %}class="{{ class }}"{% endif %}>
    <div class="container linkGroups">
        <input type="text">
        <div class="linkGroup">
            <div class="linkGroup__heading">Seacoast</div>
            <ul class="linkGroup__list -wide">
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Bar Harbor</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Camden</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Castine</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Damariscotta</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Kennebunkport</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Old Orchard Beach</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Portland</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Rockland</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Stonington</a></li>
            </ul>
        </div>
        <div class="linkGroup">
            <div class="linkGroup__heading">Parks</div>
            <ul class="linkGroup__list">
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Acadia</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Baxter</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Camden Hills</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Popham Beach</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Quoddy Head</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Reid</a></li>
            </ul>
        </div>
        <div class="linkGroup">
            <div class="linkGroup__heading">Activities</div>
            <ul class="linkGroup__list">
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Agricultural Attractions</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Arts &amp; Culture</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Camping</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Fishing</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Guide Services</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Hiking &amp; Climbing</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Hunting</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Lighthouses &amp; Sightseeing</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Shopping</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Spas, Health &amp; Wellness</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Wildlife Watching</a></li>
                <li class="linkGroup__item"><a class="linkGroup__link" href="#">Winter Activities</a></li>
            </ul>
        </div>
    </div>
</bp-dropdown>
